.hbox:hover{
    -fx-background-color: #3066a0;
}
.hbox{
    -fx-text-fill: #ffffff;
}
.label{
    -fx-text-fill: #ffffff;
}
.list-cell {
    -fx-control-inner-background: #525253;
    -fx-text-fill: #ffffff;
}
#tagPane  {
    -fx-background-color: #646668;
}

#preview  {
    -fx-background-color: #646668;
}

#middleTop  {
    -fx-background-color: #1f222a;
}
.button{
    -fx-background-color: #434345;
    -fx-text-fill: #ffffff;
}

.button:hover{
    -fx-background-color: #569024;
    -fx-text-fill: #ffffff;
}
.menu-item{
    -fx-text-fill: #1e212f;
}
.list-cell:hover {
    -fx-control-inner-background: #3066a0;
    -fx-text-fill: #ffffff;
}
.context-menu{
    -fx-background-color: #2b2727;
}
.menu-item{

}

.list-cell:empty {
}

.list-cell:selected .listCellColourStrip{


}

.list-cell:selected {


}
/* to hide scroll-bar in listview */
/*.list-view .scroll-bar:vertical .increment-arrow,*/
/*.list-view .scroll-bar:vertical .decrement-arrow,*/
/*.list-view .scroll-bar:vertical .increment-button,*/
/*.list-view .scroll-bar:vertical .decrement-button {*/
/*    -fx-padding: 0px;*/
/*}*/


.list-view .scroll-bar {
    -fx-background-color:transparent;
}

.list-view .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color:transparent;
}

.list-view .scroll-bar .thumb {
    -fx-background-color:derive(black, 50%);
}

.list-view .scroll-bar .thumb:hover {
    -fx-background-color:derive(black, 70%);
}

.list-view .track  {
    -fx-background-color: #232222;
}

.list-view .scroll-bar .corner {
    -fx-background-color: transparent ;
}


