.hbox:hover{
    -fx-background-color: #acdb7d;
}

#tagPane  {
    -fx-background-color: #D4DFE7;
}

#preview  {
    -fx-background-color: #D4DFE7;
}

#middleTop  {
    -fx-background-color: #EEDFEA;
}

.button:hover{
    -fx-background-color: #343436;
    -fx-text-fill: #ffffff;
}

.list-cell:hover {
    -fx-control-inner-background: #acdb7d;
    -fx-text-fill: #ffffff;
    /*-fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);*/
}